body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style: none
}

.course {
    list-style: none,
}

    .course > li {
        position: relative;
        margin-bottom: 5%;
        width: 30%;
        height: 100px;
        background-color: black;
        border-radius: 0.5em;
    }

        .course > li .date {
            background-color:palegreen;
            line-height: 50px;
            text-align: center;
            color: white;
            width: 60px;
            border-top-left-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
        }

        .course > li > .details {
            color: white;
            position: absolute;
            top: 0;
            left: 90px;
            padding: 5px;
            border-radius: 0.5em;
        }

        .course > li .action {
            display: none;
            left: 90px;
            position: absolute
        }

        .course > li:hover .action {
            display: block;
        }
